<!DOCTYPE html>
<html>
  <head>
    <title> ALL PRODUCT LIST </title>
  </head>
  <body>
    <div style='width:100%;'>
    <form method='post'>
      <table style="width:100%;border: 2px, solid;" allign="middle" border="20">
        <thead>
          <td> Name </td>
          <td> Quantity </td>
          <td> Price </td>
          <!--<td> ACTION </td>
          <td> ACTION </td>-->
        </thead>

        <tbody>
            <% for(var i=0; i < list.length; i++){ %>
            <tr>
              <td><%= list[i].name %></td>
              <td><%= list[i].quant %></td>
              <td><%= list[i].price %></td>
              <td> <a a href="/employee/product/update/<%= list[i].id %>">UPDATE</a></td>
              <td> <a a href="/employee/product/delete/<%= list[i].id %>">DELETE</a></td>
            </tr>
            <% } %>
          </tbody>
      </table>
      <a href="/logout"> LOGOUT </a>
    </div>

    </form>

  </body>
</html>
